//
//  Develop.xcconfig
//  YAP
//
//  Created by 여성일 on 6/1/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
PRODUCT_BUNDLE_IDENTIFIER = com.c3.yap.YAP // 건들지마시고
DEVELOPMENT_TEAM = // 본인 ID 입력하면 돼요
